<% params %>
<h1><%= request.path_info == "/square" ? "Square Results" : "Square Root Results" %></h1>
<body>
    <dl>
    <dt>Number</dt>
    <dd><%= @number %></dd>

    <% if @square %>
        <dt>Square</dt>
        <dd><%=@square%></d>
        </dl>
        <a href="/square/new">Calculate another square</a>
    <% elsif @square_root %>
        <dt>Square Root</dt>
        <dd><%=@square_root%></dd>
        </dl>
        <a href="/square_root/new">Calculate another square root</a>
    <% end %>
</body>
