<% params %>
<style>
    .indented {
        margin-left: 30px;
        margin-bottom: 10px;
    }
    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h {
        margin-bottom: 15px;
    }
</style>

<h1><%= request.path_info == "/square" ? "Square Results" : "Square Root Results" %></h1>
<body>
    <p>Number</p>
    <p class="indented"><%= @number %></p>

    <% if @square %>
        <p>Square</p>
        <p class="indented"><%=@square%></p>
        <a href="/square/new">Calculate another square</a>
    <% elsif @square_root %>
        <p>Square Root</p>
        <p class="indented"><%=@square_root%></p>
        <a href="/square_root/new">Calculate another square root</a>
    <% end %>
</body>
