<!DOCTYPE html>
  <head>
    <title>Omnicalc Home</title>
  </head>


  <body>
    <form action="<%= request.path_info == "/square" ? "/square/results" : "/square_root/results" %>" method="post">
      <label for="number">Number:</label>
      <input type="text" id="number" name="number">
      <input type="submit" value="<%= request.path_info == "/square" ? "Calculate Square" : "Calculate Square Root" %>">
    </form>
</body>
</html>
