<!DOCTYPE html>
  <head>
    <title>Omnicalc Home</title>
  </head>

  <body>
    <form action="/enternumber">
      <label for="number_id">Enter a number</label>
      <input id="number_id" name="number" type="text" placeholder="What number do you want">
      <button type="Calculate square">Submit</button>
    </form>
  </body>
  </html>
