<!DOCTYPE html>
  <head>
    <title>Random Number</title>
  </head>

  <body>
    <div>
      <form action="/random/results" method="post">
        <div>
        <label for="minimum">Minimum</label>
        <input type="text" id="minimum" name="minimum" placeholder="E.g. 1.5">
        </div>
        <div>
        <label for="maximum">Maximum</label>
        <input type="text" id="maximum" name="maximum" placeholder="E.g. 4.5">
        </div>
        <button type="submit">Pick random number</button>
      </form>
    </div>
</body>
</html>
