<!DOCTYPE html>
  <head>
    <title>Square Root Form</title>
  </head>

  <body>
    <form action="/square_root/results">
    <div>
      <label for="number_id">Enter a number</label>
    </div>
    <div>
      <input id="number_id" name="number" type="text" placeholder="What number do you want">
    </div>
    <div>
      <button type="submit">Calculate square root</button>
    </div>
    </form>
  </body>
  </html>
