<!DOCTYPE html>
  <head>
    <title>Omnicalc Square Root</title>
  </head>
  <style>
      form button {
        display: block;
      }
  </style>

  <body>
      <form action="/square_root/results" method="post">
        <label for="number">Enter a number</label>
        <input type="text" id="number" name="number" placeholder="What number do you want">
        <button type="submit">Calculate square root</button>
      </form>
</body>
</html>
